:root {
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: bottom left;
}

strong {
  font-weight: 700;
}

p {
  text-align: center;
}

.container {
  width: 17.1875rem;
  height: 31.25rem;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url("images/pattern-bg.svg"),
    url("images/pattern-quotes.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, 17%;
  background-position: top center, top 16rem center;
}

.card,
.card--invisible {
  display: none;
}

.card {
  width: 100%;
  margin: 0 1.25rem;
}

.card--visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.2s;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5625rem 0;
  box-shadow: 0 20px 50px -30px rgba(0, 0, 0, 1);
}

.photo {
  width: 12.5rem;
  border-radius: 0.3125rem;
}

.testimonial-container {
  margin-top: 1.875rem;
}

.testimonial-text .text {
  margin-bottom: 1.5625rem;
}

.person-info {
  text-align: center;
}

.person-info p {
  color: var(--grayish-blue);
  font-weight: 500;
  margin-top: 0.3125rem;
}

.button-container {
  position: absolute;
  top: 42%;
  background-color: white;
  width: 4.375rem;
  height: 2.1875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3125rem 0.5rem;
  border-radius: 1.25rem;
}

.button-container button {
  border: none;
  background-color: white;
}

.button-container button:first-child {
  margin-right: 0.3125rem;
}

.button-container button:last-child {
  margin-left: 0.3125rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 1.5rem;
  }

  .container {
    width: 25rem;
    height: 43.75rem;
    padding: 0.625rem 0;
    background-size: 100%, 20%;
    background-position: top center, top 24.375rem center;
  }

  .photo {
    width: 18.75rem;
  }

  .testimonial-container {
    margin-top: 4.0625rem;
  }

  .button-container {
    top: 46%;
  }
}

@media (min-width: 1440px) {
  body {
    background-size: 50%;
    line-height: 1.4;
  }

  p {
    text-align: left;
  }
  .container {
    width: 50rem;
    height: 28.125rem;
    background-size: 55%, 10%;
    background-position: center right, top 6.875rem left 6.25rem;
  }

  .card--visible {
    flex-direction: row-reverse;
  }

  .photo {
    width: 20.3125rem;
  }

  .testimonial-container {
    width: 30.625rem;
    position: absolute;
    left: 2.5%;
  }

  .person-info {
    width: 75%;
    font-size: 1rem;
    display: flex;
  }

  .person-info strong {
    margin-right: 0.3125rem;
  }

  .person-info p {
    margin-top: 0;
  }

  .button-container {
    top: 83%;
    right: 30%;
  }
}
